:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink)
}
header{
    position: fixed;
    top:0; left:0; right:0;
    background:rgb(249, 248, 253);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:rgb(24, 11, 140);
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(5, 4, 4);
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url('perusahaan.png');
    background-size: cover;
    background-position: center;
}


.home .content h3{
    font-size: 6rem;
    color:rgb(9, 1, 1);
    text-align: center;
    color: #071054;
}



.about .row{
    display:flex;
    align-items: center;
    gap:2rem;
    flex-wrap:wrap;
    padding:2rem 2rem; 
    padding-bottom:3rem;
    background-color: #071054;
}

.about .row .image-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .image-container image{
    width:100%;
    border:1.5rem solid #fff;
    border-radius:.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
    height:100%;
    object-fit:cover;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content p{
    font-size:2rem;
    color:#fff;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height:3rem;
}

.visi .content{
    font-size:2rem;
    color:black;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height:3rem;
}

.part{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#071054;
}
.part .heading{
    color: #fff;
}
.slide-container {
    max-width: 11200px;
    width: 100%;
    background-color: #071054;
    padding: 40px;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5px 10px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    background-color: rgb(45, 79, 202);   
    border-radius: 25px 25px 0 25px; 
}
.overlay::before,
.overlay::after{
    content:'';
    position:absolute;
    right:0;
    bottom: -40px;
    height: 40px;
    width: 15px;
    background-color: rgb(45, 79, 202);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding:3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(60, 93, 202)
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color:#060606;
    text-align: center;
}

.swiper-navBtn{
    color:#071054;
    right: 100px;
}
.swiper-navBtn:hover{
    color:#e84393;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

.footer .box-container .download{
    flex:1 1 25rem;
}

.footer .box-container .download h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 8rem;
}

.footer .box-container .download a img{
    height: 8rem;
    padding:1rem 8rem;
}


.footer .box-container .box{
    flex:1 5 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 8rem;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 8rem;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}



.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--pink);
} 






/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:rgb(24, 15, 205);
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
        color: #eee;
    }
}
    @media (max-width:450px){
    
        html{
            font-size: 50%;
        }
    
        .heading{
            font-size: 3rem;
        }      
        
}