:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:rgb(45, 79, 202);
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:rgb(207, 89, 85);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:rgb(249, 248, 253);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:rgb(24, 11, 140);
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(5, 4, 4);
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url('latar.png');
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:rgb(31, 36, 132);
}


.home .content p{
    font-size: 1.5rem;
    color:#fff;
    padding:1rem 0;
    line-height: 1.5;
}
.why .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
    color: #071054;
}
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: relative;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}


.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#071054;
}
.about .heading{
    color: #fff;
}
.slide-container {
    max-width: 11200px;
    width: 100%;
    background-color: #071054;
    padding: 40px;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5px 10px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    background-color: rgb(45, 79, 202);   
    border-radius: 25px 25px 0 25px; 
}
.overlay::before,
.overlay::after{
    content:'';
    position:absolute;
    right:0;
    bottom: -40px;
    height: 40px;
    width: 15px;
    background-color: rgb(45, 79, 202);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding:3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(60, 93, 202)
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color:#060606;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: rgb(45, 79, 202);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
}
.button:hover{
    background: rgb(207, 85, 134);
}
.swiper-navBtn{
    color:#071054;
    right: 100px;
}
.swiper-navBtn:hover{
    color:#e84393;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}

.course{
    background-color: rgb(8, 11, 79);
    background-size: cover;
    background-position: center;
}

.course .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.course .row .content{
    flex:1 1 42rem;
}

.course .row .course-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.course .row .course-slider a img{
    height:19rem;
}

.course .row .course-slider a:hover img{
    transform: scale(.9)
}

.course .row .course-slider .stand{
    width:100%;
    margin-top:-2rem;
}

.course .row .content h3{
    color:#fff;
    font-size:4.5rem
}

.bantuan {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .6s ease;
}
.bantuan img{
    height:64px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

.footer .box-container .download{
    flex:1 1 25rem;
}

.footer .box-container .download h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 8rem;
}

.footer .box-container .download a img{
    height: 8rem;
    padding:1rem 8rem;
}


.footer .box-container .box{
    flex:1 5 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 8rem;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 8rem;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}



.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--pink);
} 






 







/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:rgb(24, 15, 205);
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
        color: #eee;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    .slide-content{
        margin:0 10px;
    }
    .swiper-navBtn{
        display:none;
    }
    .course .row .content{
        text-align:center;
    }
    .course .row .content h3{
        font-size:3.5rem;
    }
    
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
   
    
}